@charset "utf-8";
/* CSS Document */
/*universal*/
.clearfix{clear:both}
*{font-family:"微软雅黑"}

/*CSS eliminate*/
body{margin:0}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal}
a{text-decoration:none}
img{display:block}
ul,li{margin:0;padding:0;list-style:none;font-weight:normal}
input{margin:0;border:none}
p{margin:0}
.bankcard{width:200px;height:60px;border:1px solid #d4d4d4;border-radius:6px;position:relative;margin:20px 0;}
.bankcard p{font-size:14px;color:#808080;position:absolute;line-height:60px;left:10px}
.bankcard img{position:absolute;right:20px;top:21px;}

.add_bankcard{width:100px;height:36px;border:1px solid #ec1d23;border-radius:3px;background-color:#ec1d23;color:#fff;margin-top:100px}
.add_bankcard:hover{transform: translateY(-2px)}


.add_bankcards p,.add-bankcard input{float:left}
.add_bankcards p{line-height:30px;color:#4d4d4d;font-size:14px;;margin-right:20px; margin-top:50px;}
.add_bankcards input{width:200px;height:30px;border:1px solid #d4d4d4;margin-top:50px;}
.add_bankcards .add_button{width:70px;height:32px;color:#fff;background-color:#ec1d23;border-radius:4px;margin:30px 0 0 280px;border:1px solid #ec1d23;}
.add_button:hover{transform:translateY(-2px)}
