@charset "utf-8";
/* CSS Document */

.ssx{margin: 10px 0;}
.form-control{ margin:50px 0;}
/*logo和背景*/
.logo1 img{ margin-left: 10%;}
.bg_box{width:100%; height:800px; overflow: hidden ;position: relative;}
@media (max-width:600px){
	.bg_box{width:600px;}
}
.bg_img{ position: relative; left: 50%;margin-left: -1250px;} 

/*登陆注册*/
.login_box{width:332px; border-radius: 6px; padding: 20px; background-color: white;position: absolute; right: 10%;top: 60px;}
.regsiter_box{width:332px; border-radius: 6px; padding: 20px; background-color: white;position: absolute; right: 10%;top: 50px;}
.login_box h1,.regsiter_box h1{ font-size:24px; color: #4c4c4c; line-height: 24px; float: left;}
.login_box h2,.wjmm,.regsiter_box h2{ font-size:12px; color:#999999;line-height: 36px;float: right;margin-bottom: 10px;}
.login1,.regsiter{margin:8px 0;}
.login1 span,.regsiter span{float: left; color:#4c4c4c ; line-height: 36px; font-size: 14px;}
.input0{width:261px; height:34px;border:1px solid #d9d9d9;position:absolute; left:20%;margin-top:-10px;}
.input1,.input2,.input3,.input4{position:absolute; left:20%;}
.input5{float:left; width:238px; height: 34px;border: 1px solid #d9d9d9; margin-left:20px; margin-top:0px; 
background-image:url(../../img/user/suo.png); background-repeat: no-repeat; background-position:10px 6px; border-radius:3px;padding-left:20px;}
.input6{float:left; width:238px; height: 34px;border: 1px solid #d9d9d9; margin-left:20px; margin-top:0px;
background-image:url(../../img/user/suo.png); background-repeat: no-repeat; background-position:10px 6px; border-radius:3px;padding-left:20px;}
.input7{float:left; width:238px; height: 34px;border: 1px solid #d9d9d9; margin-left: 20px; 
background-image: url(../../img/user/suo.png); background-repeat: no-repeat; background-position: 10px 6px; border-radius: 3px;padding-left: 20px;}
.regsiter input{float:left; width:254px; height: 34px;border: 1px solid #d9d9d9; margin-left: 10px;  
border-radius: 3px;padding-left: 10px;font-size: 12px; color: #b2b2b2;}
.regsiter .inputcolor{color:#4c4c4c;}
.login_img{ float:right;}
.login_btn{width:332px; margin-bottom: 10px; background-color:#ec1d23; border-radius:3px; color: wheat;font-size: 18px;text-align: center;line-height: 40px;}

/*部分修改添加注册*/
.username{color:#4c4c4c;font-size:14px;}
.name input{float:left; width:254px; height: 34px;border: 1px solid #d9d9d9; margin-left: 10px;  border-radius: 3px;padding-left: 10px;font-size: 12px; color: #b2b2b2;}
.mycity input{border:1px solid #CCC; width:80px;height:25px;}
.mycity{margin-left:70px;}
.cityaddr{color:#4c4c4c;font-size:14px;position:absolute;top:295px;}
